datasets/datasets/train/positive/*.png
datasets/datasets/train/positive/*.jpg
datasets/datasets/train/positive/*.jpeg

datasets/datasets/train/negative/*.png
datasets/datasets/train/negative/*.jpg
datasets/datasets/train/negative/*.jpeg

datasets/datasets/test/positive/*.png
datasets/datasets/test/positive/*.jpg
datasets/datasets/test/positive/*.jpeg

datasets/datasets/test/negative/*.png
datasets/datasets/test/negative/*.jpg
datasets/datasets/test/negative/*.jpeg

DLAI3_CXR_Validation_Set/*.png
DLAI3_CXR_Validation_Set/*.jpg
DLAI3_CXR_Validation_Set/*.jpeg